table {
  width: 100%;
}
.container-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 0;
}

.right {
  text-align: right;
  width: auto;
  button {
    background-color: #050505;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .container-filter {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
  }

  .right {
    text-align: left;
    width: 100%;
    margin-top: 10px; /* Atur jarak antara elemen */
  }

  .right button {
    width: 100%; /* Buat tombol memenuhi lebar */
  }

  mat-header-cell,
  mat-cell {
    font-size: 14px; /* Atur ukuran teks sel di dalam tabel */
  }

  .mat-header-cell {
    display: none; /* Sembunyikan header tabel di tampilan mobile jika diperlukan */
  }

  .mat-row {
    display: block; /* Tampilkan baris sebagai blok agar dapat di-scroll di tampilan mobile */
    margin-bottom: 10px; /* Atur jarak antara baris */
  }

  .mat-cell::before {
    content: attr(data-label); /* Tambahkan label untuk setiap sel */
    font-weight: bold; /* Atur teks label menjadi tebal */
  }
}
